<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="questionBean"
		class="ma.lndroid.tp.spring.di.by.constructor.collection.with.primitive.Question">
		<constructor-arg value="100" type="int" />
		<constructor-arg value="What is the modules of Spring ?"
			type="java.lang.String" />
		<constructor-arg>
			<list>
				<value> IOC / DI </value>
				<value>AOP</value>
				<value>DATA</value>
				<value>SECURITY</value>
			</list>
		</constructor-arg>

	</bean>



</beans>  